@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&family=Rubik:wght@400;500;700&display=swap");

/* ========== GLOBAL RESET ========== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* ========== GENERAL CLASSES ========== */
.container {
  max-width: 100rem;
  margin: 0 auto;
}
.dark-blue-color {
  background-color: #1f2937;
}

.low-white-color {
  color: #e5e7eb;
}

.high-white-color {
  color: #f9faf8;
}

.royal-blue {
  background-color: #3882f6;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 900;
}

.button {
  display: inline-block;
  background-color: #3882f6;
  padding: 1rem 3.2rem;
  border-radius: 8px;
  color: #f9faf8;
  font-size: 1.8rem;
  font-weight: 700;
}

.small-font {
  font-size: 1.8rem;
}

.medium-font {
  font-size: 2.4rem;
}

.large-font {
  font-size: 3.6rem;
}

.xl-font {
  font-size: 4.8rem;
}

.margin-small {
  margin-bottom: 2rem;
}
/* ==================================
========== SECTION-HERO ==========
================================== */

/* ----- section-hero-header ----- */
.section-hero {
  padding: 2.5rem 0 10rem 0;
}

.section-hero-header {
  margin-bottom: 10rem;
  display: flex;
  gap: 2.5rem;
}
.section-hero-header-logo {
  margin-right: auto;
}

/* ----- section-hero-content ----- */
.section-hero-content {
  display: flex;
  gap: 3.2rem;
}

.section-hero-content-left {
  width: 50%;
}

.section-hero-content-img {
  width: 50%;
  background-color: gray;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ==========================================
========== SECTION-SHOW-CONTENT ==========
========================================== */

.section-show-content {
  padding: 5rem 0 10rem 0;
}

/* ----- section-show-content-heading ----- */
.section-show-contnent-heading {
  color: #1f2937;
  text-align: center;
  margin-bottom: 5rem;
}

/* ----- section-show-content-cards ----- */
.section-show-content-cards {
  display: flex;
  justify-content: space-between;
}

.section-show-content-card {
  width: 20rem;
}

.section-show-contnet-card-img {
  height: 20rem;
  border: 5px solid #3882f6;
  border-radius: 15px;
}

.section-show-content-card-text {
  text-align: center;
}

/* ==========================================
========== SECTION-QUOTE ==========
========================================== */
.section-quote {
  background-color: #e5e7eb;
  padding: 10rem 0;
}

.section-quote-text {
  font-style: italic;
}

.section-quote-author {
  text-align: end;
}

/* ==========================================
========== SECTION-CALL-TO-ACTION ==========
========================================== */
.section-call-to-action {
  padding: 10rem 0;
}

.section-call-to-action-container {
  padding: 5rem 10rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-call-to-action-button {
  border: 2px solid #f9faf8;
}

/* ==========================================
========== SECTION-FOOTER ==========
========================================== */
